body {
	background-color: rgb(163,189,49);
}

main article{
	text-align: center;
	margin:1vw 30vw 5vw 30vw;
	font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width:1024px){
	main article{
		margin:1vw 20vw 5vw 20vw !important;
	}
}

main article h1 {
	color: rgb(233, 219, 137);
	font-size: 40px;
	margin:4vw 0 2vw 0;
}

main article h2, main article h3, main article p{
	color: rgb(26, 60, 96);
}

main article h2 {
	font-size: 36px;
	font-weight: bold;
	margin:2vw 2vw 0vw 2vw;
}

main article h3 {
	font-size: 20px;
	font-weight: bolder;
	margin:2vw 1vw 1vw 1vw;
}

main article p {
	font-size: 14px;
	margin-bottom:2vw;
	line-height: 20px;
}

main article .retangulo {
	background-color: rgb(233, 219, 137);
}


